body, html
  font-family: "Phantom Sans"

.align-center
  display: flex
  align-content: center
  justify-content: center
  flex-direction: column
  text-align: center
.component-fade-enter-active, .component-fade-leave-active
  transition: opacity .3s ease
.component-fade-enter, .component-fade-leave-to
  opacity: 0