body, html
  font-family: "Phantom Sans"  

p
  color: #8f8f8f

/* Headings

.big-heading  
  font-size: 3.5rem
  line-height: 1.5

.section-heading
  font-size: 3rem
  line-height: 1.5

/* Containers

.container-fluid
  width: 100%
  padding: 7% 15%

/* Sections

.white-section
  background-color: #fff

/* Navigation Bar

.navbar-brand
  font-size: 1.2rem
  height: 1cm

.nav-item
  padding: 0 18px

.nav-link
  font-size: 1.2rem

/* Buttons

.download-button
  margin: 5% 3% 5% 0

/* Features Section

#features
  position: relative

.feature-title
  font-size: 1.5rem

.icon
  color: #fdd998
  margin-bottom: 1rem

  &:hover
    color: #f5b971

/* Testimonial Section

#testimonials
  background-color: #30475e

#press
  background-color: #30475e
  padding-bottom: 3%

/* Pricing Section

#pricing
  padding: 100px

.price-text  
  color: #686464
  font-size: 3rem
  line-height: 1.5

.pricing-column
  padding: 3% 2%

.card-group
  padding: 2cm

/* CTA Section

#cta
  background-color: #222831
  color: #fff
  text-align: left
  margin-top: 10px
  height: 15cm

  .title-image
    width: 120%
    transform: rotate(-5deg)
    position: absolute
    right: 15%
    top: -17%

.cta-app
  right: 0cm

.cta-play
  right: -6cm
  top: -1.5cm

.col-lg-6
  width: 100%

@media (max-width: 1028px)
  .navbar-brand
    font-size: 1rem
    height: 1cm

  #title
    text-align: center
    width: 100%

  .text-2
    text-align: left  

  #cta
    text-align: left
    position: relative

  .card-deck
    align-items: center

  .cta-app
    right: -1cm

  .cta-play
    top: 0.5cm
    right: -1cm

  .som
    width: 80%
    font-size: 0.75rem

@media only screen and (max-width: 620px)  
  .som
    width: 80%
    font-size: 1rem

.align-center
  display: flex
  align-content: center
  justify-content: center
  flex-direction: column
  text-align: center
#introduction, #testimonials
      background-color: #222831
      color: #fff
      text-align: left      