@import 'bulma/sass/utilities/_all';

+desktop
    .description-app
        text-align: right
        b::before
            background-image: url(/images/logo-black.svg)
    .content-title-country
        font-size: 18px
        .count-covid
            font-size: 15px
    .mapboxgl-popup
        max-width: 400px !important
    .curve-container
        height: 100vh
        .curve
            background-size: 70%
            background-position: 100% center
            width: 110%
            height: 130%
        &::after
            background-image: url(/images/burble-right.svg)
            top: -210px
            right: -170px
            width: 440px
            height: 480px
            background-size: contain
    .container-fluid, .container-sm, .container-md, .container-lg, .container-xl
        padding: 7% 10%
+touch
    .description-app
        text-align: justify
        color: #fff
        b::before
            background-image: url(/images/logo.svg)
    .content-title-country
        font-size: 12px
        .count-covid
            font-size: 13px
    .mapboxgl-popup
        max-width: 250px !important
    .container-fluid, .container-sm, .container-md, .container-lg, .container-xl
        padding: 7% 20px
+fullhd
    .curve-container
        .curve
            background-size: 80%
            background-position: 120% -60%
            width: 110%
            height: 160%