@import 'bulma/sass/utilities/_all'
+touch
    .download-text-app
        span
            color: #fff
    .content-title-description
        margin-top: 30px
    .content-download
        &.full
            button
                background-color: #fff
                font-weight: bold
                color: #4f4f4f
        .btn-dark
            background-color: #fff
            color: #4f4f4f
            border-color: #fff
        .btn-outline-dark
            color: #fff
            border-color: #fff
    .hour
        font-size: 22px
        top: 16px
        left: 44px
        width: 67px
        .day
            font-size: 8px
    .people-phone, .content-hour-people
        width: 270px
    .content-hour-people
        background-image: url(/images/people-phone-mobile.svg)
        height: 200px
        margin: 20px auto
    .title-image
        width: 70%
        &.to-right
            right: -17%
        &.to-left
            left: -17%
        position: relative
    .phone-hidde-mobile
        display: none
    .title-cov
        font-size: 2rem
        line-height: 2rem
        color: #fff
+desktop
    .flex-end
        display: flex
        align-items: flex-end
    .btn-outline-dark
        color: #4f4f4f !important
    .download-text-app
        -webkit-backdrop-filter: blur(10px)
        backdrop-filter: blur(10px)
        span
            color: #4f4f4f
    .black-b        
        color: #fff !important
    .content-hour-people
        background-image: url(/images/people-phone.svg)
        height: 400px
    .section-home
        display: flex
        align-items: center
    .content-title-description
        margin-top: 100px
    .hour
        font-size: 44px
        top: 26px
        left: 87px
        width: 130px
        .day
            font-size: 14px
    .people-phone, .content-hour-people
        width: 500px
    .title-image
        width: 100%
        &.to-right
            right: -10%
        &.to-left
            left: -10%
        position: absolute
    .phone-hidde-desktop
        display: none
    .title-cov
        font-size: 35px
        line-height: 35px
        text-align: right
    .content-download
        grid-template-columns: repeat(2, 1fr)
        grid-column-gap: 30px
        &.full
            button
                //color: #009cde
                color: #ffff
                background-color: #009cde
                font-weight: bold
                &:hover
                    background-color: #0071bc
    .section-home
        height: calc(100vh - 200px)

.btn-outline-dark
    border-color: #4f4f4f
    &:hover
        color: #fff !important
.content-hour-people
    background-repeat: no-repeat
    background-size: contain
    position: relative
.download-button
    display: flex
    align-items: center
    justify-content: center
    font-weight: bold
    svg
        margin-right: 10px
.hour
    position: absolute
    color: #fff
    transform: skewX(13deg) skewY(1deg)
    text-align: center
    display: flex
    flex-direction: column
    .day
        width: 100%
        max-width: 100%
.title-image
    transform: rotate(-5deg)
    max-width: 400px
.title-cov
    font-weight: bold
    position: relative
.content-download
    display: grid
    margin-top: 20px
    grid-row-gap: 20px
.download-text-app
    margin: 40px auto 20px auto
    border-radius: 5px
    width: max-content
    padding: 10px
    background: hsla(0,0%,100%,.4)
    box-shadow: 0 10px 24px rgba(8,15,26,.16)    
    text-align: center
    width: 100%
    span
        font-size: 1.5em
        font-weight: bold
.btn-dark
    color: #4f4f4f
    background-color: #4f4f4f    